.posts-container {
  grid-column: 4/13;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.search-box {
  height: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 0.5em;
  &:focus {
    outline-color: rgb(137, 209, 219);
  }
}
