.user-menu-container {
  grid-column: 1/4;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.2em;
  padding-bottom: 1em;
}

@media screen and (min-width: 500px) {
  .user-menu-container {
    padding-bottom: 5em;
  }
}
