.hover-menu-container {
  position: absolute;

  right: 0;
  bottom: -2em;
  height: 1.5em;
  width: fit-content;
  z-index: 1;

  ul {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    li {
      margin-left: 0.5em;
    }
  }
}
