.hover-menu-container {
  position: absolute;
  right: 0;
  bottom: 0.1em;
  height: 1.5em;
  width: fit-content;
  z-index: 1;
  font-family: 'Big Shoulders Stencil Text';
  color: white;

  ul {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    li {
      margin-left: 0.5em;
    }
  }
}
