$hover-color: rgb(56, 173, 194);
$focus-bg-color: rgb(44, 166, 170);
$child-bg-color: rgb(29, 110, 124);

.child-user-container {
  background-color: $child-bg-color;
  border: 1px solid black;
  color: white;
  padding: 0.2em;
  margin: 0.2em;
  width: 100%;
  border-radius: 10px;
  padding-left: 0.5em;
  font-size: 0.8em;
  min-height: 3em;

  &:focus {
    border-width: 0;
    outline: none;
    background-color: $focus-bg-color;
  }
  &:hover {
    background-color: $hover-color;
    color: #222;
    cursor: pointer;
  }
}

@media screen and (min-width: 500px) {
  .child-user-container {
    padding-left: 0.5em;
    font-size: 1em;
    min-height: 2.5em;
  }
}
