.post-container {
  padding: 2em 0.5em;
  position: relative;
}

.hover-menu {
  display: flex;
  position: absolute;
  font-size: 1.5em;
  div {
    margin-left: 1em;
  }
  background-color: red;

  align-items: center;

  right: 0;
  bottom: 0;
  height: 1.5em;
  width: fit-content;
}
